.site-footer {
  margin-bottom: 200px;
}
.foot {
  padding: 47px 0;
  background-color: $dark;
}
.foot__size {
  max-width: 1110px;
  margin-left: 85px;
  margin-right: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.foot__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.foot__item {
    margin-left: 32px;
}
.foot__link {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888f;
}
.foot__link:hover {
  color: #fefcf7;
}
.foot__internet {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.foot__end {
  margin-left: 24px;
}
.foot__end:hover path {
  fill: #fdd6ba;
}
@media only screen and (max-width:900px) {
    .foot__size {
        max-width: 400px;
       margin: auto;
        display: flex;
        flex-direction: column;
        text-align: center;
      }
      .foot__list {
        margin: auto;
        margin-top: 20px;
        
      }
      .foot__item:nth-child(1) {
        margin: 0;
      }
      .foot__internet {
        margin-top: 50px;
      }
      .foot__end:nth-child(1) {
        margin-left: 0;
      }
}
@media only screen and (max-width:500px) {
    .foot {
        padding: 54px;
      
      }
    .foot__list {
        margin: auto;
        margin-top: 48px;
        display: flex;
        flex-direction: column;
      }
      .foot__item {
        margin: 0;
       margin-top: 24px;
      }
}
